extends layout

block content
	div.mainwin.flex-row
		div.sfviewwin.flex-col.test
			div.sfviewmenu
				div.sfviewmenubutton#sfviewrefresh
				div.sfviewmenubutton#sfviewsave
			div.sfviewbody.flex-col
		div.subwin.flex-col
			div.tmenu.flex-row.test
				div.tmenubuttons
					a.btn.btn-primary.file-input-span#initentry(href='#') Init Data Entry
					a.btn.btn-primary.file-input-span#loadsample(href='#') Load Sample PDF
					span.btn.btn-primary.file-input-span Upload PDF
						input.file-input#adddoc(type='file')
					a.btn.btn-primary.file-input-span#removedoc(href='#') Remove PDF
				div.instr-button#instr-button Instructions
			div.fldwin.flex-row.test
				div.fldwinleft
				div.fldwinbox.flex-col
					div.fldtitle
					div.fldentry
					div.fldinstr
				div.fldwinright
			div.pdfwin.test
		div.instructions-frame
			div.instructions
				div.exit
					span.close-button(onclick='renderInstructionsHide()') x
				h4 Instructions
				ul
					li. 
						<b>Init Data Entry</b> initializes data entry process: begins with searching for an account or creating a new account in the Salesforce database. Once an account is chosen or created, you are able create new contacts or edit existing contacts. To create a contact, press the <b>Down</b> key, or cycle past all of the account fields by clicking the <b>></b> button or pressing <b>Right</b>.
					li.
						<b>Load Sample PDF</b> Loads a sample pdf to use for data entry.
					li.
						<b>Upload PDF</b> Upload your own pdf for data entry. For this configuration, it should be a roster of members of an organization.
					li.
						<b>Remove PDF</b> Removes an uploaded pdf.
					li.
						To enter data, you can either type data in the field input box on the top right-hand side, or <b>select text in the pdf viewer</b>. Text selected in the viewer will be automatically inserted into the field input, which will cycle to the next field.
					li.
						<b>Save All</b> saves all new or modified records. <b>Refresh</b> reloads all records from Salesforce, erasing any new unsaved records or unsaved changes.
				h5 Keyboard Shortcuts
				ul
					li.
						<b>Up</b> and <b>Down</b> move up and down the list of contacts and the account record displayed in the left-hand column. You can also click on any of these records to access their fields.
						<b>Left</b> and <b>Right</b> cycle through fields for any record. You can also click the <b><</b> and <b>></b> buttons.
					li.
						<b>Space</b> will bring the focus to the field input, so you don't have to use the mouse to enter data by typing.
					li.
						<b>Enter</b> will enter the data in the field input and cycle to the next field.


	div.modal.fade.insrch(role='dialog' data-backdrop='static' data-keyboard='false')
		div.modal-dialog
			div.modal-content
				div.modal-header.insrch-header
					button.close(type='button' data-dismiss="modal") &times;
					h4.modaltitle.insrch-title
				div.modal-body.insrch-body
				div.modal-footer.insrch-footer
					button.btn.btn-default.insrch-create-btn(type='button' data-dismiss='modal') Create New

	div.modal.fade.error(role='dialog')
		div.modal-dialog
			div.modal-content
				div.modal-header.error-header
					button.close(type='button' data-dismiss="modal") &times;
					h4.modaltitle.error-title Error
				div.modal-body.error-body
				div.modal-footer.error-footer
					button.btn.btn-default(type='button' data-dismiss='modal') Close

	div.modal.fade.alert(role='dialog')
		div.modal-dialog
			div.modal-content
				div.modal-header.error-header
					button.close(type='button' data-dismiss="modal") &times;
					h4.modaltitle.alert-title Alert
				div.modal-body.alert-body
				div.modal-footer.alert-footer
					button.btn.btn-default.alert-execute(type='button' data-dismiss='modal') Proceed
					button.btn.btn-default(type='button' data-dismiss='modal') Cancel

	div.modal.fade.increate(role='dialog' data-backdrop='static' data-keyboard='false')
		div.modal-dialog
			div.modal-content
				div.modal-header.increate-header
					button.close(type='button' data-dismiss="modal") &times;
					h4.modaltitle.increate-title
				div.modal-body.increate-body
				div.modal-footer
					button.btn.btn-default.increate-create-btn(type='button') Create
					button.btn.btn-default(type='button' data-dismiss='modal') Close

	div.modal.fade.openurlmodal(role='dialog' data-backdrop='static' data-keyboard='false')
		div.modal-dialog
			div.modal-content
				div.modal-header.openurlmodal-header
					button.close(type='button' data-dismiss="modal") &times;
					h4.modaltitle.openurlmodal-title Open URL for Data Entry
				div.modal-body.openurlmodal-body
					input.openurl-input(type='text')
				div.modal-footer
					button.btn.btn-default.openurl-open-btn(type='button') Open
					button.btn.btn-default(type='button' data-dismiss='modal') Cancel

	div.modal.hide.loading.modalcentered(role='dialog' data-backdrop='static' data-keyboard='false')
		div.modal-dialog.modal-sm.loading.loading-dialog
			div.modal-content.loading-content
				div.loading-message
					span.ld-msg
			
	script(type='text/javascript' src='/javascripts/init.js')