extends layout

block content
	div.subbody
		div.jumbotron
			div.container
				h1 Salesforce PDF Webloader
				p.
					An application to enter data easily from PDF files into a Salesforce database. It can be customized for any kind of Salesforce configuration with standard and custom record objects. This demo is configured to pull contact information from an employee or member roster for a business or organization.
				p.link-paragraph.
					<a href="/webloader"><b><u>CLICK HERE TO LAUNCH APPLICATION</u></b></a>
				p.
					Login with <b>username: guest@sfwebloader.com</b> and <b>password: testpwd</b>. This demo is connected to a Salesforce developer account.
		div.container
			h5 How to Use
			ul
				li. 
					Click <span class='instrbtnspan'>Init Data Entry</span> to initialize the data entry process. You will be prompted to search for an account in the Salesforce database, but you will also have the option of creating a new account.
				li.
					The account corresponds to the business or organization of the roster document (pdf) you use. To load an example roster document into the pdf viewer, click <span class='instrbtnspan'>Load Sample PDF</span>. Click <span class='instrbtnspan'>Upload PDF</span> to use a document from your own computer. <span class='instrbtnspan'>Remove PDF</span> will remove an uploaded pdf.
				li.
					Search for the account by entering the name of the business or organization into the field and pressing <b>Enter</b>. If it is not already in the Salesforce database, click <span class='instrbtnspan'>New</span> to create a new account.
				li.
					Once an existing account is selected or a new account is created, you will be prompted to edit its fields. <b>IMPORTANT:</b> To enter data, you may either type data directly into the field input box on the top right-hand side, or <b style='background-color: yellow; padding: 2px;'>simply select any text you want to input on the pdf</b>. Text selected on the pdf will be automatically entered into the active field, which will then cycle to the next field.
				li.
					Navigate through fields by clicking <span class='instrbtnspan'><</span> or <span class='instrbtnspan'>></span>.
				li.
					When you have finished with the account, press the <b>Down</b> key to move on to your first contact record. An empty contact record will be generated and you will be prompted with its fields. Once you have made changes to the record, you can press <b>Down</b> again to add a new contact, and so on.
				li.
					Click <span class='instrbtnspan'>Save All</span> to save any new or modified records. <span class='instrbtnspan'>Refresh</span> reloads all records from Salesforce, erasing any new unsaved records or unsaved changes.
			hr
			footer
				p © John Hungerford 2019


	script(src='/javascripts/index.js')
