.allowOverflow {
    overflow-y: visible;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.sectionLeft {
    padding: 0;
    float: left;
}

.sectionRight {
    width: auto;
    text-align: center;
    overflow: hidden;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.button {
    margin-right: 4px;
}

.button:hover {
    margin-right: 3px;
}

.logout {
}

.logout:hover {
}

.dropdownLeft {
    margin-right: 5px;
}

.appButtons {
    display: inline-block;
    text-align: right;
    margin: 0;
    padding: 0;
}
