.outer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divLeft {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 15%
}

.divCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 100%;
    white-space: normal;
    overflow-x: auto;
    overflow-y: auto;
}

.divDataEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.noresize {
    resize: none;
}

.divRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
}

.buttonLeft {
    display: inline;
}

.dataInput {
    display: block;
    font-size: 18;
    margin-bottom: 20px;
}