.button {
    position: relative;
    padding: 8px 16px;
    margin: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: lightgrey;
    cursor: pointer;
}

.button > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.button:hover {
    border: 1px solid black;
    padding: 7px 15px;
}

.button:active {
    background-color: white;
}

.button:focus {
    outline: 3px solid rgb(152, 209, 247);
}

.button:disabled,
.button[disabled] {
    opacity: 0.3;
    filter: grayscale(100%);
    pointer-events: none;
}

.small {
    padding: 5px;
}

.small:hover {
    padding: 4px;
}
