.outer {
    position: relative;
    border: 1px solid black;
    margin: -.5px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.inner {
    position: absolute;
    border: none;
    top: 5;
    bottom: 5;
    left: 5;
    right: 5;
    border: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
